{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_messages.html' %}
  <form class="app_form_layout" id="app_resetpassword_form" method="POST" action="{% url 'reset_password' %}">
    {% csrf_token %}
    <h1 id="app_form_title_text">Password Reset</h1>
    <input type="hidden" value="{{verificationid}}" name="verificationid"/>
    <label class="app_form_label">New Password:</label><br/>
    <input class="app_text_input_field" type="password" name="password" required/><br/><br/>
    <label class="app_form_label">Confirm Password:</label><br/>
    <input class="app_text_input_field"type="password" name="password2" required/><br/><br/>
    <button class="app_form_buttons" id="app_form_submit_button" type="submit">Reset Password</button>
  </form>
{% endblock %}
